<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="MenuDao" class="cn.canyin.dao.impl.MenuDaoImpl"></bean>
    <bean id="MenuService" class="cn.canyin.service.impl.MenuServiceImpl"></bean>
</beans>
         